{# This file is similar to templates/common/iso19139-charstring.j2
   but you can specify the element's namespace, and alternate language code
#}
{% macro get_freetext(element, language_alternate, myvars) -%}
{% set primary = (myvars[0] | default('')) %}
{% set alt = (myvars[1] | default('')) %}
{% set has_primary = (primary|string)|trim and (primary|string)|trim != 'None' %}
{% set has_alt = (language_alternate is not none) and (alt is not none) and (alt|string)|trim and (alt|string)|trim != 'None' %}

{% if has_alt and has_primary %}
      <{{ element }} xsi:type="lan:PT_FreeText_PropertyType">
        <gco:CharacterString>{{ primary|trim|e }}</gco:CharacterString>
          <lan:PT_FreeText>
            <lan:textGroup>
              <lan:LocalisedCharacterString locale="#{{language_alternate}}">{{ alt|trim|e }}</lan:LocalisedCharacterString>
            </lan:textGroup>
          </lan:PT_FreeText>
      </{{ element }}>
{% elif has_primary %}
    <{{ element }}>
      <gco:CharacterString>{{ primary|trim|e }}</gco:CharacterString>
    </{{ element }}>
{% endif %}
{% endmacro %}