{% macro multi_lang(record_key) %}
  {% set alternates = get_alternate_text(record_key) %}
  {% if record[record_key] %}
    {# text in the default language #}
    <gco:CharacterString>{{ record[record_key] }}</gco:CharacterString>
  {% endif %}
  {% if alternates | length > 0 %}
    <lan:PT_FreeText>
      {% for lang_code, lang_text in alternates %}
        <lan:textGroup>
          {# text in an alternate language #}
          <lan:LocalisedCharacterString locale="{{ lang_code }}">{{ lang_text }}</lan:LocalisedCharacterString>
        </lan:textGroup>
      {% endfor %}
    </lan:PT_FreeText>
  {% endif %}
{% endmacro %}
<mdb:MD_Metadata
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://standards.iso.org/iso/19115/-3/mdb/2.0 https://standards.iso.org/iso/19115/-3/mds/2.0/mds.xsd"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:mpc="http://standards.iso.org/iso/19115/-3/mpc/1.0"
  xmlns:mri="http://standards.iso.org/iso/19115/-3/mri/1.0"
  xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/2.0"
  xmlns:mmi="http://standards.iso.org/iso/19115/-3/mmi/1.0"
  xmlns:mdb="http://standards.iso.org/iso/19115/-3/mdb/2.0"
  xmlns:mcc="http://standards.iso.org/iso/19115/-3/mcc/1.0"
  xmlns:msr="http://standards.iso.org/iso/19115/-3/msr/2.0"
  xmlns:mac="http://standards.iso.org/iso/19115/-3/mac/2.0"
  xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0"
  xmlns:mrs="http://standards.iso.org/iso/19115/-3/mrs/1.0"
  xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
  xmlns:lan="http://standards.iso.org/iso/19115/-3/lan/1.0"
  xmlns:mco="http://standards.iso.org/iso/19115/-3/mco/1.0"
  xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
  xmlns:mdq="http://standards.iso.org/iso/19157/-2/mdq/1.0"
  xmlns:mas="http://standards.iso.org/iso/19115/-3/mas/1.0"
  xmlns:mrd="http://standards.iso.org/iso/19115/-3/mrd/1.0"
  xmlns:mrc="http://standards.iso.org/iso/19115/-3/mrc/2.0"
  xmlns:xlink="http://www.w3.org/1999/xlink">

  {% if record['id'] %}
  {# metadataIdentifier: mandatory #}
  <mdb:metadataIdentifier>

    <mcc:MD_Identifier>
      {% if record['naming_authority'] %}
        <mcc:authority>
          <cit:CI_Citation>
            <cit:title xsi:type="lan:PT_FreeText_PropertyType">
              {{ multi_lang('naming_authority') }}
            </cit:title>
          </cit:CI_Citation>
        </mcc:authority>
      {% endif %}

    {% if record['id'] %}
      {# code: mandatory #}
      <mcc:code xsi:type="lan:PT_FreeText_PropertyType">
        {# CIOOS core mandatory element #}
        {# MI_Metadata/metadataIdentifier/MD_Identifier/code/CharacterString #}
        {{ multi_lang('id') }}
      </mcc:code>
      {% endif %}
    </mcc:MD_Identifier>
  </mdb:metadataIdentifier>
  {% endif %}

  {% if record['language'] %}
  {# defaultLocale: mandatory #}
  <mdb:defaultLocale>
    <lan:PT_Locale>
      {# language: mandatory #}
      <lan:language>
        <lan:LanguageCode codeList="http://standards.iso.org/iso/19115/resources/Codelist/lan/LanguageCode.xml" codeListValue="{{ record['language'] }}">
          {# CIOOS core mandatory element #}
          {# MI_Metadata/defaultLocale/PT_Locale/language/LanguageCode (ISO639-2) #}
        </lan:LanguageCode>
      </lan:language>
      {# country: mandatory #}
      <lan:country>
        <lan:CountryCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml" codeListValue="CAN">
          {# CIOOS core mandatory element #}
          {# MI_Metadata/defaultLocale/PT_Locale/country/CountryCode (ISO3166-1) #}
        </lan:CountryCode>
      </lan:country>
      {# characterEncoding: mandatory #}
      <lan:characterEncoding>
        <lan:MD_CharacterSetCode codeList="http://standards.iso.org/iso/19115/resources/Codelist/lan/CharacterSetCode.xml" codeListValue="utf8"/>
          {# CIOOS core mandatory element #}
          {# MI_Metadata/defaultLocale/PT_Locale/characterEncoding/MD_CharacterSetCode (UTF-8) #}
      </lan:characterEncoding>
    </lan:PT_Locale>
  </mdb:defaultLocale>
  {% endif %}

   {# metadataScope: mandatory #}
  <mdb:metadataScope>
    <mdb:MD_MetadataScope>
      {# resourceScope: mandatory #}
      <mdb:resourceScope>
        <mcc:MD_ScopeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_ScopeCode" codeListValue="dataset"/>
          {# CIOOS core mandatory element #}
          {# MI_Metadata/metadataScope/MD_MetadataScope/resourceScope/MD_ScopeCode #}
      </mdb:resourceScope>
    </mdb:MD_MetadataScope>
  </mdb:metadataScope>

  {# contact: mandatory #}
  <mdb:contact>
    <cit:CI_Responsibility>
      {# role: mandatory #}
      <cit:role>
        <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="publisher"/>
          {# CIOOS core mandatory element #}
          {# MI_Metadata/contact/CI_Responsibility/role/CI_RoleCode #}
      </cit:role>
      {# party: mandatory #}
      <cit:party>
        <cit:CI_Individual>
          {# name: mandatory #}
          {% if record['publisher_name'] %}
          <cit:name xsi:type="lan:PT_FreeText_PropertyType">
            {# CIOOS core mandatory element #}
            {# MI_Metadata/contact/CI_Responsibility/party/CI_Party/name/CharacterString #}
            <gco:CharacterString>{{ record['publisher_name'] }}</gco:CharacterString>
          </cit:name>
          {% endif %}

          {# contactInfo: mandatory #}
          <cit:contactInfo>
            <cit:CI_Contact>
              {# address: mandatory #}
              <cit:address>
                <cit:CI_Address>
                  {# country: mandatory #}
                  {% if record['publisher_country'] %}
                  <cit:country xsi:type="lan:PT_FreeText_PropertyType">
                    {# CIOOS core mandatory element #}
                    {# MI_Metadata/contact/CI_Responsibility/party/contactInfo/CI_Contact/address/CI_Address/country/CharacterString #}
                    {{ multi_lang('publisher_country') }}
                  </cit:country>
                  {% endif %}
                  {# electronicMailAddress: mandatory #}

                  {% if record['publisher_email'] %}
                  <cit:electronicMailAddress xsi:type="lan:PT_FreeText_PropertyType">
                    {# CIOOS core mandatory element #}
                    {# MI_Metadata/contact/CI_Responsibility/party/contactInfo/CI_Contact/address/CI_Address/electronicMailAddress/CharacterString #}
                    <gco:CharacterString>{{ record['publisher_email'] }}</gco:CharacterString>
                  </cit:electronicMailAddress>
                  {% endif %}
                </cit:CI_Address>
              </cit:address>

              {% if record['publisher_url'] %}

              <cit:onlineResource>
                <cit:CI_OnlineResource>
                  <cit:linkage xsi:type="lan:PT_FreeText_PropertyType">
                    <gco:CharacterString>{{ record['publisher_url'] }}</gco:CharacterString>
                  </cit:linkage>
                </cit:CI_OnlineResource>
              </cit:onlineResource>
              {% endif %}
            </cit:CI_Contact>
          </cit:contactInfo>
        </cit:CI_Individual>
      </cit:party>
    </cit:CI_Responsibility>
  </mdb:contact>

  {# schema requires at least one mdb:dateInfo field #}
  {# dateInfo: mandatory #}
  <mdb:dateInfo>
    <cit:CI_Date>
      {# date: mandatory #}
      <cit:date>
        {% if record['date_created'] | length > 11 %}
          {# CIOOS core mandatory element #}
          {# MI_Metadata/dateInfo/CI_Date/date/DateTime #}
          {# ACDD: [date_created=creation, date_modified=revision, date_issued=publication] #}
          <gco:DateTime>{{ record['date_created'] }}</gco:DateTime>
        {% elif record['date_created'] %}
          <gco:Date>{{ record['date_created'] }}</gco:Date>
        {% else %}
          <gco:Date>{{ date_today }}</gco:Date>
        {% endif %}
      </cit:date>
      {# dateType: mandatory #}
      <cit:dateType>
      {# CIOOS core mandatory element #}
      {# MI_Metadata/dateInfo/CI_Date/date/CI_DateTypeCode #}
        <cit:CI_DateTypeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_DateTypeCode" codeListValue="creation">creation</cit:CI_DateTypeCode>
      </cit:dateType>
    </cit:CI_Date>
  </mdb:dateInfo>

  {% if record['date_modified'] %}
  <mdb:dateInfo>
    <cit:CI_Date>
      {# date: mandatory #}
      <cit:date>
        {% if record['date_modified'] | length > 11 %}
          {# CIOOS core mandatory element #}
          {# MI_Metadata/dateInfo/CI_Date/date/DateTime #}
          <gco:DateTime>{{ record['date_modified'] }}</gco:DateTime>

        {% else %}
          <gco:Date>{{ record['date_modified'] }}</gco:Date>
        {% endif %}
      </cit:date>
      {# dateType: mandatory #}
      <cit:dateType>
      {# CIOOS core mandatory element #}
      {# MI_Metadata/dateInfo/CI_Date/date/CI_DateTypeCode #}
        <cit:CI_DateTypeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_DateTypeCode" codeListValue="revision">revision</cit:CI_DateTypeCode>
      </cit:dateType>
    </cit:CI_Date>
  </mdb:dateInfo>
  {% endif %}

  {% if record['date_issued'] %}
  <mdb:dateInfo>
    <cit:CI_Date>
      {# date: mandatory #}
      <cit:date>
        {% if record['date_issued'] | length > 11 %}
          {# CIOOS core mandatory element #}
          {# MI_Metadata/dateInfo/CI_Date/date/DateTime #}
          {# ACDD: [date_created, date_modified=revision, date_issued=publication] #}
          <gco:DateTime>{{ record['date_issued'] }}</gco:DateTime>
        {% else %}
          <gco:Date>{{ record['date_issued'] }}</gco:Date>
        {% endif %}
      </cit:date>
      {# dateType: mandatory #}
      <cit:dateType>
      {# CIOOS core mandatory element #}
      {# MI_Metadata/dateInfo/CI_Date/date/CI_DateTypeCode #}
        <cit:CI_DateTypeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_DateTypeCode" codeListValue="publication">publication</cit:CI_DateTypeCode>
      </cit:dateType>
    </cit:CI_Date>
  </mdb:dateInfo>
  {% endif %}

  {# metadataStandard: Recommended #}
  <mdb:metadataStandard>
    <cit:CI_Citation>
      <cit:title>
        <gco:CharacterString>ISO 19115-1 Geographic information - Metadata</gco:CharacterString>
      </cit:title>
      <cit:edition>
        <gco:CharacterString>First Edition 2014-04-01</gco:CharacterString>
      </cit:edition>
    </cit:CI_Citation>
  </mdb:metadataStandard>
  <mdb:metadataStandard>
    <cit:CI_Citation>
      <cit:title>
      <gco:CharacterString>ISO 19115-2 Geographic information - Metadata</gco:CharacterString>
      </cit:title>
      <cit:edition>
        <gco:CharacterString>Second Edition 2019-01</gco:CharacterString>
      </cit:edition>
    </cit:CI_Citation>
  </mdb:metadataStandard>

  {# metadataProfile: Optional, will be CIOOS core Mandatory once profile is published #}
	<mdb:metadataProfile>
    <cit:CI_Citation>
      <cit:title>
        <gco:CharacterString>Canadian Integrated Ocean Observing System Metadata Profile of ISO 19115</gco:CharacterString>
      </cit:title>

     <cit:date>
        {# date: mandatory #}
       <cit:CI_Date>
            <cit:date><gco:Date>2019-11-06</gco:Date></cit:date>
        {# dateType: mandatory #}
        <cit:dateType>
        {# CIOOS core mandatory element #}
        {# MI_Metadata/dateInfo/CI_Date/date/CI_DateTypeCode #}
          <cit:CI_DateTypeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_DateTypeCode" codeListValue="publication">publication</cit:CI_DateTypeCode>
        </cit:dateType>
        </cit:CI_Date>
      </cit:date>
    </cit:CI_Citation>
  </mdb:metadataProfile>

	<mdb:otherLocale>
		<lan:PT_Locale>
      {# language: mandatory #}
      <lan:language>
        <lan:LanguageCode codeList="http://standards.iso.org/iso/19115/resources/Codelist/lan/LanguageCode.xml" codeListValue="{{ language_alt }}">
          {# CIOOS core mandatory element #}
          {# MI_Metadata/otherLocale/PT_Locale/language/LanguageCode (ISO639-2) #}
        </lan:LanguageCode>
      </lan:language>
      {# country: mandatory #}
      <lan:country>
        <lan:CountryCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml" codeListValue="CAN">
          {# CIOOS core mandatory element #}
          {# MI_Metadata/otherLocale/PT_Locale/country/CountryCode (ISO3166-1) #}
        </lan:CountryCode>
      </lan:country>
			<lan:characterEncoding>
				<lan:MD_CharacterSetCode codeList="http://standards.iso.org/iso/19115/resources/Codelist/lan/CharacterSetCode.xml" codeListValue="utf8"/>
        {# CIOOS core mandatory element #}
        {# MI_Metadata/otherLocale/PT_Locale/characterEncoding/MD_CharacterSetCode (UTF-8) #}
			</lan:characterEncoding>
		</lan:PT_Locale>
	</mdb:otherLocale>

  {# identificationInfo: mandatory #}
  <mdb:identificationInfo>
    <mri:MD_DataIdentification>
      {# citation: mandatory #}
      <mri:citation>
        <cit:CI_Citation>
          {# title: mandatory #}
          <cit:title xsi:type="lan:PT_FreeText_PropertyType">
            {# CIOOS core mandatory element #}
            {# MI_Metadata/identificationInfo/MD_DataIdentification/citation/CI_Citation/title/CharacterString #}
            {{ multi_lang('title') }}
          </cit:title>

          {% if record['contributor_name'] %}
          {# citedResponsibileParty: mandatory #}
          <cit:citedResponsibleParty>
            {# contributor #}
            <cit:CI_Responsibility>
              <cit:role>
                <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="contributor"/>
              </cit:role>
              <cit:party>
                <cit:CI_Organisation>
                  <cit:name xsi:type="lan:PT_FreeText_PropertyType">
                    {{ multi_lang('contributor_name') }}
                  </cit:name>
                </cit:CI_Organisation>
              </cit:party>
            </cit:CI_Responsibility>
          </cit:citedResponsibleParty>
          {% endif %}

          {% if record['institution'] %}
          {% for institution in record['institution'].split(',')  %}
          <cit:citedResponsibleParty>
            <cit:CI_Responsibility>

              <cit:role>
              {# CIOOS core mandatory element #}
              {# MI_Metadata/identificationInfo/MD_DataIdentification/citation/CI_Citation/role/CI_RoleCode #}
                <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="originator"/>
              </cit:role>

              <cit:party>
                <cit:CI_Organisation>
                  <cit:name><gco:CharacterString>{{ institution }}</gco:CharacterString></cit:name>
                </cit:CI_Organisation>
              </cit:party>
            </cit:CI_Responsibility>
          </cit:citedResponsibleParty>
          {% endfor %}
          {% endif %}

          {% if record['creator_name'] %}
          <cit:citedResponsibleParty>
            {# originator #}
            <cit:CI_Responsibility>
              {# role: mandatory #}
              <cit:role>
                <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="originator"/>
                  {# CIOOS core mandatory element #}
                  {# MI_Metadata/identificationInfo/MD_DataIdentification/citation/CI_Citation/role/CI_RoleCode #}
              </cit:role>
              {# party: mandatory #}
              <cit:party>
                <cit:CI_Individual>
                  {# name: mandatory #}
                  <cit:name xsi:type="lan:PT_FreeText_PropertyType">
                    {# CIOOS core mandatory element #}
                    {# MI_Metadata/identificationInfo/MD_DataIdentification/citation/CI_Citation/party/CI_Party/name/CharacterString #}
                    <gco:CharacterString>{{ record['creator_name'] }}</gco:CharacterString>
                  </cit:name>
                  <cit:contactInfo>
                    <cit:CI_Contact>
                      <cit:onlineResource>
                        <cit:CI_OnlineResource>
                          <cit:linkage>
                            <gco:CharacterString>{{ record['creator_url'] }}</gco:CharacterString>
                          </cit:linkage>
                        </cit:CI_OnlineResource>
                      </cit:onlineResource>
                    </cit:CI_Contact>
                  </cit:contactInfo>
                  <cit:contactInfo>
                    <cit:CI_Contact>
                      <cit:address>
                        <cit:CI_Address>
                          <cit:electronicMailAddress xsi:type="lan:PT_FreeText_PropertyType">
                            {{ multi_lang('creator_email') }}
                          </cit:electronicMailAddress>
                        </cit:CI_Address>
                      </cit:address>
                    </cit:CI_Contact>
                  </cit:contactInfo>
                </cit:CI_Individual>
              </cit:party>
            </cit:CI_Responsibility>
          </cit:citedResponsibleParty>
          {% endif %}
        </cit:CI_Citation>
      </mri:citation>

      {# abstract: mandatory #}
      <mri:abstract xsi:type="lan:PT_FreeText_PropertyType">
        {# CIOOS core mandatory element #}
        {# MI_Metadata/identificationInfo/MD_DataIdentification/abstract/CharacterString #}
        {{ multi_lang('summary') }}
      </mri:abstract>

      {% if record['acknowledgement'] %}
      <mri:credit xsi:type="lan:PT_FreeText_PropertyType">
        {{ multi_lang('acknowledgement') }}
      </mri:credit>
      {% endif %}

      <mri:status>
        <mcc:MD_ProgressCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_ProgressCode" codeListValue="{{ record['progress_code'] or 'onGoing' }}">
          {# CIOOS core mandatory element #}
          {# MI_Metadata/identificationInfo/MD_DataIdentification/status/MD_ProgressCode #}
        </mcc:MD_ProgressCode>
      </mri:status>

      {% if record['time_coverage_resolution'] %}
        <mri:temporalResolution>
          <gco:TM_PeriodDuration>{{ record['time_coverage_resolution'] }}</gco:TM_PeriodDuration>
        </mri:temporalResolution>
      {% endif %}

      {% if record['geospatial_lon_min'] and
      record['geospatial_lon_max'] and
      record['geospatial_lat_min'] and
      record['geospatial_lat_max'] %}
        <mri:extent>
          <gex:EX_Extent>

            {# EX_GeographicBoundingBox: CIOOS core mandatory if not using EX_BoundingPolygon #}
            <gex:geographicElement>
              <gex:EX_GeographicBoundingBox>
                <gex:extentTypeCode>
                  <gco:Boolean>true</gco:Boolean>
                </gex:extentTypeCode>
                <gex:westBoundLongitude>
                  <gco:Decimal>{{ record['geospatial_lon_max'] }}</gco:Decimal>
                </gex:westBoundLongitude>
                <gex:eastBoundLongitude>
                  <gco:Decimal>{{ record['geospatial_lon_min'] }}</gco:Decimal>
                </gex:eastBoundLongitude>
                <gex:southBoundLatitude>
                  <gco:Decimal>{{ record['geospatial_lat_min'] }}</gco:Decimal>
                </gex:southBoundLatitude>
                <gex:northBoundLatitude>
                  <gco:Decimal>{{ record['geospatial_lat_max'] }}</gco:Decimal>
                </gex:northBoundLatitude>
              </gex:EX_GeographicBoundingBox>
            </gex:geographicElement>

          </gex:EX_Extent>
        </mri:extent>
      {% endif %}

      {% if record['geospatial_bounds'] %}
        <mri:extent>
          <gex:EX_Extent>
            <gex:geographicElement>
              {# EX_BoundingPolygon: CIOOS core mandatory if not using EX_GeographicBoundingBox #}
              <gex:EX_BoundingPolygon>
                <gex:extentTypeCode>
                  <gco:Boolean>true</gco:Boolean>
                </gex:extentTypeCode>
                <gex:polygon>
                <gml:Polygon gml:id="a1">
                  <gml:exterior>
                    <gml:LinearRing>
                      <gml:coordinates>
                        {{ record['geospatial_bounds'] }}
                      </gml:coordinates>
                    </gml:LinearRing>
                  </gml:exterior>
                </gml:Polygon>
                </gex:polygon>
              </gex:EX_BoundingPolygon>
            </gex:geographicElement>
          </gex:EX_Extent>
        </mri:extent>
      {% endif %}

      {% if record['geospatial_vertical_min'] and record['geospatial_vertical_max'] %}
        <mri:extent>
          <gex:EX_Extent>
            <gex:verticalElement>
              <gex:EX_VerticalExtent>


                <gex:minimumValue>
                  <gco:Real>{{ record['geospatial_vertical_min'] }}</gco:Real>
                </gex:minimumValue>
                <gex:maximumValue>
                  <gco:Real>{{ record['geospatial_vertical_max'] }}</gco:Real>
                </gex:maximumValue>

                {# verticalCRSId: CIOOS core mandatory #}
                <gex:verticalCRSId>
                  <mrs:MD_ReferenceSystem>
                    {# referenceSystemIdentifier: optional but dosn't make sense as referenceSystemType is mandatory #}
              			<mrs:referenceSystemIdentifier>
              				<mcc:MD_Identifier>
                        {# code: mandatory #}
              					<mcc:code>
              						<gco:CharacterString>5831</gco:CharacterString>
              					</mcc:code>
                        {# codeSpace: Optional #}
                        <mcc:codeSpace>
              						<gco:CharacterString>EPSG</gco:CharacterString>
              					</mcc:codeSpace>
                        {# version: Recommended #}
                        <mcc:version>
                          <gco:CharacterString>2012-08-10</gco:CharacterString>
                        </mcc:version>
                        {# description: Optional #}
              					<mcc:description>
              						<gco:CharacterString>EPSG::5831 - Instantaneous Water Level depth - Depth relative to instantaneous water level uncorrected for tide. Not specific to any location or epoch.</gco:CharacterString>
              					</mcc:description>
              				</mcc:MD_Identifier>
              			</mrs:referenceSystemIdentifier>

                    {# referenceSystemType: CIOOS core mandatory #}
              			<mrs:referenceSystemType>
              				<mrs:MD_ReferenceSystemTypeCode codeList="https://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_ReferenceSystemTypeCode" codeListValue="vertical">vertical</mrs:MD_ReferenceSystemTypeCode>
              			</mrs:referenceSystemType>
              		</mrs:MD_ReferenceSystem>
                </gex:verticalCRSId>

                {# verticalCRS: optional, required if verticalCRSId is missing #}
                <gex:verticalCRS xlink:href="http://www.epsg-registry.org/export.htm?gml=urn:ogc:def:crs:EPSG::5831"
                       xlink:title="instantaneous water level depth"
                       xlink:actuate="onRequest"/>
              </gex:EX_VerticalExtent>
            </gex:verticalElement>
          </gex:EX_Extent>
        </mri:extent>
      {% endif %}

      {% if record['time_coverage_start'] and record['time_coverage_end'] %}
      <mri:extent>
        <gex:EX_Extent>
          <gex:temporalElement>
            <gex:EX_TemporalExtent>
            {# CIOOS core mandatory element #}
              <gex:extent>
                <gml:TimePeriod gml:id="time_period">
                  <gml:beginPosition>{{ record['time_coverage_start'] }}</gml:beginPosition>
                  <gml:endPosition>{{ record['time_coverage_end'] }}</gml:endPosition>
                  {% if record['time_coverage_duration']  %}
                  <gml:duration>{{ record['time_coverage_duration'] }}</gml:duration>
                  {% endif %}
                </gml:TimePeriod>
              </gex:extent>
            </gex:EX_TemporalExtent>
          </gex:temporalElement>
        </gex:EX_Extent>
      </mri:extent>
      {% elif not record['progress_code'] or record['progress_code'] == 'onGoing' %}
      {# if start and end not set then can use indeterminatePosition for onGoing datasets #}
      <mri:extent>
        <gex:EX_Extent>
          <gex:temporalElement>
            <gex:EX_TemporalExtent>
              <gex:extent>
                <gml:TimePeriod gml:id="time_period">
                  {% if record['time_coverage_start'] %}
                  <gml:beginPosition>{{ record['time_coverage_start'] }}</gml:beginPosition>
                  {% else %}
                  <gml:beginPosition indeterminatePosition="unknown"/>
                  {% endif %}
                  <gml:endPosition indeterminatePosition="now"/>
                </gml:TimePeriod>
              </gex:extent>
            </gex:EX_TemporalExtent>
          </gex:temporalElement>
        </gex:EX_Extent>
      </mri:extent>
      {% endif %}

      {# resourceMaintenance: CIOOS core mandatory #}
      {# refers to the maintenance of the data #}
      <mri:resourceMaintenance>
        <mmi:MD_MaintenanceInformation>
          {# maintenanceAndUpdateFrequency: CIOOS core mandatory #}
          <mmi:maintenanceAndUpdateFrequency>
            <mmi:MD_MaintenanceFrequencyCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_MaintenanceFrequencyCode" codeListValue="asNeeded">asNeeded</mmi:MD_MaintenanceFrequencyCode>
          </mmi:maintenanceAndUpdateFrequency>
          {% if record['data_maintenance_note'] %}
          {# maintenanceNote: Recommended #}
          <mmi:maintenanceNote xsi:type="lan:PT_FreeText_PropertyType">
            {{ multi_lang('data_maintenance_note') }}
          </mmi:maintenanceNote>
          {% endif %}
        </mmi:MD_MaintenanceInformation>
      </mri:resourceMaintenance>

      {% if record['keywords'] %}
      <mri:descriptiveKeywords>
        <mri:MD_Keywords>
          {# keywords in default language #}
          {% for keyword in record['keywords'].split(',') %}
            <mri:keyword>
              <gco:CharacterString>{{ keyword }}</gco:CharacterString>
            </mri:keyword>
          {% endfor %}
          {# for each alternate language: #}
          {% for lang, keyword_csv in get_alternate_text('keywords') %}
            {# for each keyword in that alternate language: #}
            {% for keyword in keyword_csv.split(',') %}
              <mri:keyword xsi:type="lan:PT_FreeText_PropertyType">
                <lan:PT_FreeText>
                  <lan:textGroup>
                    <lan:LocalisedCharacterString locale="{{ lang }}">{{ keyword }}</lan:LocalisedCharacterString>
                  </lan:textGroup>
                </lan:PT_FreeText>
              </mri:keyword>
            {% endfor %}
          {% endfor %}
          {% if record['keywords_vocabulary'] %}
          <mri:thesaurusName>
            <cit:CI_Citation>
              {# validation requires title #}
              <cit:title xsi:type="lan:PT_FreeText_PropertyType">
                {{ multi_lang('keywords_vocabulary') }}
              </cit:title>

              {% if record['keywords_vocabulary'].startswith('http') %}
                <cit:onlineResource>
                  <cit:CI_OnlineResource>
                    <cit:linkage xsi:type="lan:PT_FreeText_PropertyType">
                      {{ multi_lang('keywords_vocabulary') }}
                    </cit:linkage>
                  </cit:CI_OnlineResource>
                </cit:onlineResource>
              {% endif %}

            </cit:CI_Citation>
          </mri:thesaurusName>
          {% endif %}
        </mri:MD_Keywords>
      </mri:descriptiveKeywords>
      {% endif %}

      {% if record['project'] %}
      <mri:descriptiveKeywords>
        <mri:MD_Keywords>

          {# project in default language #}
          {% for project in record['project'].split(',') %}
            <mri:keyword>
              <gco:CharacterString>{{ project }}</gco:CharacterString>
            </mri:keyword>
          {% endfor %}
          {# for each alternate language: #}
          {% for lang, project_csv in get_alternate_text('project') %}
            {# for each keyword in that alternate language: #}
            {% for project in project_csv.split(',') %}
              <mri:keyword xsi:type="lan:PT_FreeText_PropertyType">
                <lan:PT_FreeText>
                  <lan:textGroup>
                    <lan:LocalisedCharacterString locale="{{ lang }}">{{ project }}</lan:LocalisedCharacterString>
                  </lan:textGroup>
                </lan:PT_FreeText>
              </mri:keyword>
            {% endfor %}
          {% endfor %}

          <mri:type>
            <mri:MD_KeywordTypeCode codeList="https://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_KeywordTypeCode" codeListValue="project">project</mri:MD_KeywordTypeCode>
          </mri:type>
        </mri:MD_Keywords>
      </mri:descriptiveKeywords>
      {% endif %}


      <mri:resourceConstraints>
         <mco:MD_LegalConstraints>
           <mco:reference>
            <cit:CI_Citation>
              <cit:title>
                <gco:CharacterString>Creative Commons Attribution 4.0</gco:CharacterString>
              </cit:title>
              <cit:identifier>
                <mcc:MD_Identifier>
                <mcc:code>
                  <gco:CharacterString>CC-BY-4.0</gco:CharacterString>
                </mcc:code>
              </mcc:MD_Identifier>
              </cit:identifier>
              <cit:onlineResource>
                <cit:CI_OnlineResource>
                  <cit:linkage>
                    <gco:CharacterString>https://creativecommons.org/licenses/by/4.0/</gco:CharacterString>
                  </cit:linkage>
                </cit:CI_OnlineResource>
              </cit:onlineResource>
            </cit:CI_Citation>
           </mco:reference>
           <mco:useConstraints>
             <mco:MD_RestrictionCode codeList="https://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_RestrictionCode" codeListValue="license"/>
           </mco:useConstraints>
         </mco:MD_LegalConstraints>
       </mri:resourceConstraints>

      {% if record['use_constraints']%}
      <mri:resourceConstraints>
        {# MD_Constraints: CIOOS core mandatory #}
        <mco:MD_Constraints>
          {# useLimitation: CIOOS core mandatory #}
					<mco:useLimitation xsi:type="lan:PT_FreeText_PropertyType">
						{{ multi_lang('use_constraints') }}
					</mco:useLimitation>
        </mco:MD_Constraints>
      </mri:resourceConstraints>
      {% endif %}

      {% if record['comment'] %}
        <mri:supplementalInformation xsi:type="lan:PT_FreeText_PropertyType">
          {{ multi_lang('comment') }}
        </mri:supplementalInformation>
      {% endif %}

    </mri:MD_DataIdentification>
  </mdb:identificationInfo>

    {% if record['distributor_name'] or record['erddap_dataset_url'] %}
    {# distributionInfo: CIOOS core mandatory #}
    <mdb:distributionInfo>
      <mrd:MD_Distribution>

    {% if record['distributor_name'] %}
        <mrd:distributor>
				<mrd:MD_Distributor>
          <mrd:distributorContact>
            <cit:CI_Responsibility>
              {# role: mandatory #}
              <cit:role>
                <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="distributor"/>
              </cit:role>
              {# party: mandatory #}
              <cit:party>
        				<cit:CI_Organisation>

                  {# name: mandatory #}
                  <cit:name xsi:type="lan:PT_FreeText_PropertyType">
                    {{ multi_lang('distributor_name') }}
                  </cit:name>

                </cit:CI_Organisation>
              </cit:party>

            </cit:CI_Responsibility>
          </mrd:distributorContact>
        </mrd:MD_Distributor>
        </mrd:distributor>
        {% endif %}
        {% if record['erddap_dataset_url'] %}
        <mrd:transferOptions>
          <mrd:MD_DigitalTransferOptions>
            <mrd:onLine>
              <cit:CI_OnlineResource>
                <cit:linkage>
                  <gco:CharacterString>{{ record['erddap_dataset_url'] }}</gco:CharacterString>
                </cit:linkage>
                <cit:protocol>
                  <gco:CharacterString>order</gco:CharacterString>
                </cit:protocol>
                <cit:name>
                  <gco:CharacterString>ERDDAP Data Subset Form</gco:CharacterString>
                </cit:name>
                <cit:description>
                  <gco:CharacterString>ERDDAP's version of the OPeNDAP .html web page for this dataset. Specify a subset of the dataset and download the data via OPeNDAP or in many different file types.</gco:CharacterString>
                </cit:description>
                <cit:function>
                  <cit:CI_OnLineFunctionCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_OnLineFunctionCode" codeListValue="download"/>
                </cit:function>
                <cit:protocolRequest>
                  <gco:CharacterString>OPeNDAP constraint protocol</gco:CharacterString>
                </cit:protocolRequest>
              </cit:CI_OnlineResource>
            </mrd:onLine>
          </mrd:MD_DigitalTransferOptions>
        </mrd:transferOptions>
        {% endif %}
      </mrd:MD_Distribution>
    </mdb:distributionInfo>
  {% endif %}

  {% if record['history'] %}
    <mdb:resourceLineage>
      <mrl:LI_Lineage>
        <mrl:statement xsi:type="lan:PT_FreeText_PropertyType">
          {{ multi_lang('history') }}
        </mrl:statement>
        {# scope: CIOOS core mandatory #}
        <mrl:scope>
          <mcc:MD_Scope>
            {# level: mandatory #}
            <mcc:level>
              <mcc:MD_ScopeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_ScopeCode" codeListValue="dataset"/>
            </mcc:level>
          </mcc:MD_Scope>
        </mrl:scope>
      </mrl:LI_Lineage>
    </mdb:resourceLineage>
  {% endif %}

    {# metadataMaintenance: CIOOS core mandatory #}
    {# refers to the maintenance of the metadata #}
    <mdb:metadataMaintenance>
      <mmi:MD_MaintenanceInformation>
        <mmi:maintenanceAndUpdateFrequency>
          <mmi:MD_MaintenanceFrequencyCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_MaintenanceFrequencyCode" codeListValue="asNeeded">asNeeded</mmi:MD_MaintenanceFrequencyCode>
        </mmi:maintenanceAndUpdateFrequency>
      </mmi:MD_MaintenanceInformation>
    </mdb:metadataMaintenance>

  {% if record['platform_name'] %}
  {# acquisitionInformation: mandatory #}
  <mdb:acquisitionInformation>
    <mac:MI_AcquisitionInformation>
      {# scope: CIOOS core mandatory #}
      <mac:scope>
        <mcc:MD_Scope>
          {# level: mandatory #}
          <mcc:level>
            <mcc:MD_ScopeCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#MD_ScopeCode" codeListValue="dataset"/>
          </mcc:level>
        </mcc:MD_Scope>
      </mac:scope>
      {# instrument: mandatory #}

      {# platform: mandatory #}
      <mac:platform>
        <mac:MI_Platform>

          {# identifier: mandatory #}
          <mac:identifier>
            <mcc:MD_Identifier>
              {# authority: mandatory #}
              <mcc:authority>
                <cit:CI_Citation>
                  {# validation says cit:CI_Citation requires title #}
                  <cit:title xsi:type="lan:PT_FreeText_PropertyType">
                    <gco:CharacterString>{{ record['platform_name'] }}</gco:CharacterString>
                  </cit:title>

                  {% if record['platform_role'] and record['platform_id_authority'] %}
                  {# citedResponsibleParty: mandatory #}
                  <cit:citedResponsibleParty>
                    <cit:CI_Responsibility>
                      {# role: mandatory #}
                      <cit:role>
                        <cit:CI_RoleCode codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="{{ record['platform_role'] }}"/>
                          {# CIOOS core mandatory element #}
                          {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/platform/MI_Platform/identifier/MD_Identifier/authority/CI_Citation/citedResponsibleParty/CI_Responsibility/role/CI_RoleCode #}
                      </cit:role>
                      {# party: mandatory #}
                      <cit:party>
                        <cit:CI_Organisation>
                          {# name: mandatory #}
                          <cit:name xsi:type="lan:PT_FreeText_PropertyType">
                            {# CIOOS core mandatory element #}
                            {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/platform/MI_Platform/identifier/MD_Identifier/authority/CI_Citation/citedResponsibleParty/CI_Responsibility/party/CI_Party/name/CharacterString #}
                            {{ multi_lang('platform_id_authority') }}
                          </cit:name>
                        </cit:CI_Organisation>
                      </cit:party>
                    </cit:CI_Responsibility>
                  </cit:citedResponsibleParty>
                  {% endif %}
                </cit:CI_Citation>
              </mcc:authority>
              {# code: mandatory #}
              <mcc:code xsi:type="lan:PT_FreeText_PropertyType">
                {# CIOOS core mandatory element #}
                {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/platform/MI_Platform/identifier/MD_Identifier/code/CharacterString #}
                {{ multi_lang('platform_id') }}
              </mcc:code>
            </mcc:MD_Identifier>
          </mac:identifier>

          {# description: mandatory #}
          <mac:description xsi:type="lan:PT_FreeText_PropertyType">
            {# CIOOS core mandatory element #}
            {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/platform/MI_Platform/description/CharacterString #}
            {{ multi_lang('platform_description') }}
          </mac:description>

          {% for num, instrument in instruments.items() %}
            <mac:instrument>
              <mac:MI_Instrument>
                {# identifier: mandatory #}
                <mac:identifier>
                  <mcc:MD_Identifier>
                    {# code: mandatory #}
                    <mcc:code xsi:type="lan:PT_FreeText_PropertyType">
                      {# CIOOS core mandatory element #}
                      {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/identifier/MD_Identifier/code/CharacterString #}
                      <gco:CharacterString>{{ instrument.id }}</gco:CharacterString>
                    </mcc:code>
                    {% if instrument.version %}
                    {# version: mandatory #}
                    <mcc:version xsi:type="lan:PT_FreeText_PropertyType">
                      {# CIOOS core mandatory element #}
                      {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/identifier/MD_Identifier/version/CharacterString #}
                      <gco:CharacterString>{{ instrument.version }}</gco:CharacterString>
                    </mcc:version>
                    {% endif %}
                    {% if instrument.description %}
                    {# description: mandatory #}
                    <mcc:description xsi:type="lan:PT_FreeText_PropertyType">
                      {# CIOOS core mandatory element #}
                      {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/identifier/MD_Identifier/description/CharacterString #}
                      <gco:CharacterString>{{ instrument.description }}</gco:CharacterString>
                    </mcc:description>
                    {% endif %}
                  </mcc:MD_Identifier>
                </mac:identifier>
                {# type: mandatory #}
                <mac:type xsi:type="lan:PT_FreeText_PropertyType">
                  {# CIOOS core mandatory element #}
                  {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/type/CharacterString #}
                  <gco:CharacterString>{{ instrument.type }}</gco:CharacterString>
                </mac:type>

                {# description: mandatory #}
                {% if instrument.description_other %}
                <mac:description xsi:type="lan:PT_FreeText_PropertyType">
                  {# CIOOS core mandatory element #}
                  {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/description/CharacterString #}
                  <gco:CharacterString>{{ instrument.description_other }}</gco:CharacterString>
                </mac:description>
                {% endif %}
                {# mountedOn: mandatory? #}
                <mac:mountedOn/>
                {% for num, sensor in instrument.sensor.items() %}
                  {# sensor: mandatory #}
                  <mac:sensor>
                    <mac:MI_Sensor>

                      {# identifier: mandatory #}
                      <mac:identifier>
                        <mcc:MD_Identifier>
                          {# code: mandatory #}
                          <mcc:code xsi:type="lan:PT_FreeText_PropertyType">
                            {# CIOOS core mandatory element #}
                            {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/sensor/MI_Sensor/identifier/MD_Identifier/code/CharacterString #}
                            <gco:CharacterString>{{ sensor.id }}</gco:CharacterString>
                          </mcc:code>
                          {# version: mandatory #}
                          {% if sensor.version %}
                          <mcc:version xsi:type="lan:PT_FreeText_PropertyType">
                            {# CIOOS core mandatory element #}
                            {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/sensor/MI_Sensor/identifier/MD_Identifier/version/CharacterString #}
                            <gco:CharacterString>{{ sensor.version }}</gco:CharacterString>
                          </mcc:version>
                          {% endif %}
                          {% if sensor.description %}
                          {# description: mandatory #}
                          <mcc:description xsi:type="lan:PT_FreeText_PropertyType">
                            {# CIOOS core mandatory element #}
                            {# MI_Metadata/acquisitionInformation/MI_AcquisitionInformation/instrument/MI_Instrument/sensor/MI_Sensor/identifier/MD_Identifier/description/CharacterString #}
                            <gco:CharacterString>{{ sensor.description }}</gco:CharacterString>
                          </mcc:description>
                          {% endif %}
                        </mcc:MD_Identifier>
                      </mac:identifier>
                      <mac:type/>
                      {# hosted: mandatory #}
                      <mac:hosted>
                        {# mac:MI_Instrument is an association to parent MI_Instrument really needed in this case? #}
                      </mac:hosted>
                    </mac:MI_Sensor>
                  </mac:sensor>
                {% endfor %}
              </mac:MI_Instrument>
            </mac:instrument>
          {% endfor %}
        </mac:MI_Platform>
      </mac:platform>
    </mac:MI_AcquisitionInformation>
  </mdb:acquisitionInformation>
  {% endif %}
</mdb:MD_Metadata>
